.container {
  background-color: #ffffff;
  border: 1px solid #d1d5db;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 4px 4px 15px;
  position: fixed;
  bottom: 16px;
  right: 50%;
  transform: translateX(50%);
  z-index: 10000;
  white-space: nowrap;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentText {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: #111827;
}

.contentButtons {
  display: flex;
  gap: 12px;
  align-items: center;
}

.closeIcon {
  position: absolute;
  top: 16px;
  right: 16px;
}

.warningIcon {
  background: #fedaa0;
  width: 32px;
  height: 32px;
  border-radius: 9999px;
  padding: 6px;
}

.warningIconSvg {
  width: 100%;
  height: 100%;
}

.contentButton {
  background: #fca311;
  color: #111827;
  font-size: 14px;
  font-weight: 600;
}

.linkButton {
  color: #fca311;
}

.timeLeft {
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  width: 60px;
  margin-left: 8px;
  color: #111827;
}

.circularProgress {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
}

.circularProgressCircle {
  position: absolute;
}
